.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    width: 100%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the selected link */
.navbar li a.active {
    background-color: #111; /* Darker background color */
}

.navbar li a:hover {
    background-color: #111;
}


/* .navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
} */