.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.input-file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.dim {
    width: 93%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 25px;
}

.upload-box {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 25px;
}

.dim .pad- {
    padding: 25px;
    max-height: 600px;
}

.pad- img {
    max-height: 600px;
    object-fit: cover;
}

.pad- p {
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
}

.in-upload {
    border: 1px dashed black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    position: relative;
    margin-bottom: 20px;
}

.img {
    width: 100px;
    height: 100px;
}

.text-f {
    width: 500px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-m {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #1aac4d;
    color: #1aac4d;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #1aac4d;
    color: white;
}

.btn:focus {
    outline: none;
}