.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
}

.startQuizBtn {
    display: inline-block !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
    text-decoration: none !important;
    border: 2px solid #1aac4d !important;
    color: #1aac4d !important;
    background-color: transparent !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s !important;
}

.startQuizBtn:hover {
    background-color: #1aac4d !important;
    color: white !important;
}

.startQuizBtn:focus {
    outline: none !important;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #1aac4d;
    color: #1aac4d;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #1aac4d;
    color: white;
}

.btn:focus {
    outline: none;
}

/* .language-select-container {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #1aac4d;
    transition: all 0.3s ease-in-out;
}

.language-select-container:hover {
    box-shadow: 0 0 25px #1aac4d;
}

.language-select-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
} */


#language-select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1aac4d;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 16px;
    cursor: pointer;
}

#language-select:focus {
    border-color: #1aac4d;
    box-shadow: 0 0 10px #1aac4d;
}

#language-select option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}



/* .language-select-container {
    margin-top: 40px;
}

.language-select-container label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.language-select-container select {
    text-align: center;
    width: 150px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: #fff;
    appearance: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language-select-container select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #f0f8ff;
}

.language-select-container select:hover {
    border-color: #007bff;
} */

.quiz-container button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-container button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}